.header-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #101532;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icon {
  width: 30px;
  height: 30px;
  transition: transform 0.2s;
}

.social-icon:hover {
  transform: scale(1.1);
}

.social-icon-wrapper {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}
